<h1>Download Birche Online</h1>
<p>Sorry, Birche Online is not yet available. None of the links on this page do anything!</p>
<p *ngIf="userManager.user == null">A free account is required to play. Don't have one? <a class="standard-link" routerLink="/register">Create one now!</a></p>
<div class="links">
  <div>
    <h2>Windows</h2>
    <ul>
      <li><a href="#">64-bit Client Download</a></li>
      <li><a href="#">32-bit Client Download</a></li>
    </ul>
    <ol>
      <li>test</li>
    </ol>
    
    
  </div>
  <div>
    <h2>Mac</h2>
    <ul>
      <li><a href="#">Client Download</a></li>
    </ul>
  </div>
  <div>
    <h2><a href="#">Linux</a></h2>
    <ul>
      <li><a href="#">AppImage Client Download</a></li>
      <li><a href="#">Deb Client Download</a></li>
    </ul>
  </div>
</div>