div {
  position: relative;
}

span {
  position: absolute;
  top: -1.5ex;
  left: 0.5ex;
  background-color: var(--clr-white);
  padding: 0 0.2em;
  pointer-events: none;
}

input {
  width: 100%;
  padding: 0.5em;
}

input:focus, input:hover {
  box-shadow: 5px 2px 5px var(--clr-black);
}

span.error {
  color: var(--clr-error);
}