a {
  color: var(--clr-accent-b);
}

a:hover, a:focus {
  color: var(--clr-accent-c);
  text-decoration: underline;
}

form {
  font-family: var(--font-p);
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: fit-content;
  margin: 2em auto;

  max-width: 400px;
}

div.message-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

div.button-row-single-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.message-row>span::before {
  content: '•';
  padding: 0 0.5em;
}