<nav>
  <ul>
    <app-nav-link path="/" text="Home"></app-nav-link>
    <app-nav-link path="/download" text="Play Now"></app-nav-link>
  </ul>
  <ul *ngIf="!sessionManager.isLoggedIn()">
    <app-nav-link path="/login" text="Login"></app-nav-link>
    <app-nav-link path="/register" text="Sign Up"></app-nav-link>
  </ul>
  <ul *ngIf="sessionManager.isLoggedIn()">
    <app-nav-link path="/account" [text]="userManager.user?.userDetails?.username ?? 'error'"></app-nav-link>
    <app-nav-link path="/logout" text="Logout"></app-nav-link>  
  </ul>
</nav>