li {
  color: var(--clr-text-b);
  padding: 0.5em 0.5em 0.3em 0.5em;
  border-radius: 5px 5px 0 0;
}

li:hover {
  color: var(--clr-bg-a);
}

li.active-link {
  background-color: var(--clr-bg-b);
  color: var(--clr-bg-a);
}