<h1>Birche Online</h1>
<div class="rows">
  <p>A slow-paced life simulator in a fantasy setting.</p>
  <p>Guide your characters daily lives, help them survive harsh conditions, and build a thriving society alongside hundreds of other players in a persistent world.</p>
  <p>Your characters continue to live and work even while you're offline. Give them tasks, assign them resources they can use automatically when they need them; then sit back and watch them work. Or move on to your other characters!</p>
</div>
<div class="call-to-action">
  <a class="standard-button" routerLink="/register">Create Free Account</a>
  <a class="standard-button" routerLink="/download">Download Client</a>
</div>