h1 {
  text-align: center;
  font-size: 3em;
  color: var(--clr-accent-b);
}

div.rows {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

div.call-to-action {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  margin: 3em auto;
  justify-content: space-around;
}

div.call-to-action>a {
  border-style: outset;
  border-width: 5px;
  border-color: var(--clr-accent-b);
  padding: 0.5em;

  width: 10em;
  text-align: center;
  font-size: 1.2em;

  background-color: var(--clr-accent-a);
}

div.call-to-action>a:hover {
  text-decoration: underline;
  border-style: inset;
}

