@import './reset.css';
@import './vars.css';

html {
  color: var(--clr-black);
  background-color: var(--clr-accent-a);
}

body {
  width: 100vw;
  height: 100vh;
}

p {
  font-family: var(--font-p);
}

a {
  font-family: var(--font-h);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-h);
}