:root {
  --clr-black: #29262B;
  --clr-white: #F7F7F2;

  --clr-error: #F13030;
  --clr-success: #669D31;

  --clr-accent-a: #E4E6C3;
  --clr-accent-b: #A72608;
  --clr-accent-c: #FE7F2D;

  --font-p: 'Archivo Narrow', sans-serif;
  --font-h: 'Acme', sans-serif;
}