:root {
  --clr-text-a: #32292F;
  --clr-text-b: #77966D;
  --clr-bg-a: #F3EFF5;
  --clr-bg-b: #77966D;
  --clr-border-a: #6200B3;

  --font-p: 'Archivo Narrow', sans-serif;
  --font-h: 'Acme', sans-serif;
}