strong {
  font-weight: bold;
}

label {
  cursor: default;
}

a {
  color: var(--clr-accent-b);
}

a:hover, a:focus {
  color: var(--clr-accent-c);
  text-decoration: underline;
}

form {
  font-family: var(--font-p);
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: fit-content;
  margin: 2em auto;

  max-width: 400px;
}

form>div {
  position: relative;
}

div.checkbox-label-row {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

div.checkbox-label-row>input {
  cursor: pointer;
  width: 1em;
  height: 1em;
}

div.checkbox-label-row>input:hover, div.checkbox-label-row>input:focus {
  box-shadow: 2px 1px 2px var(--clr-black);
}

div.checkbox-label-row>input:checked {
  background-color: var(--clr-accent-b);
}

div.checkbox-label-row>input:checked::before {
  content: '✓';
  font-size: 0.9em;
  color: var(--clr-white);
  position: absolute;
  left: 0.2em;
  bottom: 0.1em;
}

div.message-row {
  display: flex;
  flex-direction: column;
}

div.button-row-single-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}