<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-simple-text-field [control]="getFormControl('username')" _id="Username" type="text"></app-simple-text-field>
  <app-simple-text-field [control]="getFormControl('emailAddress')" _id="Email Address" type="email"></app-simple-text-field>
  <app-simple-text-field [control]="getFormControl('password')" _id="Password" type="password"></app-simple-text-field>
  <app-simple-text-field [control]="getFormControl('confirmPassword')" _id="Confirm Password" type="password"></app-simple-text-field>

  <app-simple-checkbox-field _id="sendmemail" [control]="getFormControl('sendMeMail')">
    <label for="sendmemail">Send me updates and announcements about the game</label>
  </app-simple-checkbox-field>

  <app-simple-checkbox-field _id="agree" [control]="getFormControl('agreeToTos')">
    <span><label for="agree">I have read and agree to the</label><a routerLink="/tos"> Terms of Service</a></span>
  </app-simple-checkbox-field>
  
  <div class="message-row">
    <span>We will only use your email to verify your account, or if you opt in to receive updates.</span>
    <span>We will <strong>never</strong> share your information with a third party.</span>
  </div>
  <div class="button-row-single-center">
    <button class="standard-button" [disabled]="!userForm.valid" type="submit">Sign Up</button>
  </div>
  <ng-content></ng-content>
</form>